<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WYN: Whatever You Need</title>
    <link rel="stylesheet" href="stylesheets/WYN.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <script src="getData.js"></script>
</head>
<body onload="getServicePreviews()">

    <%- include("header")%>
    
    <div id="hero-image-section">
        <h2>whatever <br> you need.</h2>
        <div id="explore-button">
            <h3><a href="/serviceListings">explore services</a></h3>
        </div>
    </div>

    <div id="explore-services" class="flex-box-row">
        <% posts.forEach(post => { %>
            <% poster = users.find(element => element.id === post.postingUserId); %>
            <div class="flex-box-column service-icon">
                <div class="flex-item">
                    <h3><%= post.location %></h3>
                </div>
                <div class="flex-item">
                    <h2><a href="/service/<%= encodeURIComponent(post.id) %>"><%= post.title %></a></h2>
                </div>
                <div class="flex-item">
                    <h3><%= poster.username %></h3>
                </div>
            </div>
          <% }) %>
    </div>

    <div id="about-us">
        <h2>we're <br> cool people<br>(trust us)</h2>
        <div id="about-us-button">
            <h3><a href="aboutUs.ejs">learn about our team</a></h3>
        </div>
    </div>

    <footer>
        <div class="flex-box-row" id="footer-div">
            <div class="flex-item">
                <h3><a class="underlineLink" href="/">home</a></h3>
            </div>
            <div class="flex-item">
                <img src="images/main-logo-white.png">
            </div>
            <div class="flex-item">
                <h3><a class="underlineLink" href="aboutUs.ejs">about us</a></h3>
            </div>
        </div>
    </footer>
</body>
</html>
