<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WYN: <%= user.username %>'s Profile</title>
    <link rel="stylesheet" href="/stylesheets/WYN.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>

    <%- include("header")%>


    <h1><span style="color: black; text-align: center; "><%= user.username %>'s Profile</span></h1>
    <div id="default-profile"></div>

    <div class="main-container-profile">
        <div class="flex-profile-container" style="display: flex; flex-direction: row;">    

            <form id="editProfileForm" action="/profile/<%= user.id %>/edit" method="POST">

                <div class="flex-item-profile">
                <label for="username">Username:</label>
                <input style="margin-bottom: 15px; margin-left: 20px; margin-right: 20px" type="text" id ="username" name="username" value="<%= user.username %>" required>

   
                <label for="email">Email:</label>
                <input style="margin-bottom: 15px; margin-left: 20px; margin-right: 20px" type="email" id ="email" name="email" value="<%= user.email %>" required>

                <label for="phoneNumber">Phone Number:</label>
                <input style="margin-bottom: 15px; margin-left: 20px; margin-right: 20px" type="text" id ="phoneNumber" name="phoneNumber" value="<%= user.phoneNumber || '' %>">

                <label for="addressl1">Address:</label>
                <input style="margin-bottom: 15px; margin-left: 20px; margin-right: 20px" type="text" id ="addressl1" name="addressl1" value="<%= user.addressl1 || '' %>">
                </div>

                <button type="submit" style="justify-content: center;">Save Changes</button>
            </form>

            </div>
       
    </div>

    <div class="flex-item" id="header-right" style="align-items: center; justify-content: center;
    margin: 20px auto; padding: 10px 20px; font-size: 16px;">
        <h2><a href="/makePost.ejs">Make Post</a></h2>
    </div>



    <div id="post-container">
        <% posts.forEach(function(post){ %>
        <div class="post profile-item" >
            <div class="post-image"style="background-image: url('<%= post.imageURL %>')"> 
                <div class="post-content">
                    <a href="/service/<%= post.id %>"><strong><%= post.title %></strong></a>
                    <p><%= post.description %></p>
                </div>
            </div>
        </div>
        <% }); %>
    </div>




    
    
    <div class="flex-item" id="header-right" style="align-items: center; justify-content: center;
    margin: 20px auto; padding: 10px 20px; font-size: 16px;">
        <h2><a href="/logout">Logout</a></h2>
    </div>

    <footer>
        <div class="flex-box-row" id="footer-div" style="margin-top: 200px;">
            <div class="flex-item">
                <h3><a class="underlineLink" href="/index.ejs">home</a></h3>
            </div>
            <div class="flex-item">
                <img src="/images/main-logo-white.png">
            </div>
            <div class="flex-item">
                <h3><a class="underlineLink" href="/aboutUs">about us</a></h3>
            </div>
        </div>
    </footer>
</body>
</html>